.upload-file-card {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.upload-file-card__header {
    /* background-color: blue; */
    flex: 0 0 1%;
}

.upload-file-card__header-title {
    display: flex;
    justify-content: space-between;
    height: 10px;
}

.upload-file-card__footer-button-group {
    display: flex;
    gap: 20px;
    /* height: 50px; */
}
.upload-file-card__footer-button {
    min-width: 200px;
}

.upload-file-card__body {
    // background-color: yellow;
    flex: 1;
}

.upload-file-card__footer {
    /* background-color: green; */
    flex: 0 0 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 15px;
}

.upload-file-card__close-button {
    font-size: 8px;
    padding: 8px !important;
}
