.user-change-password-block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--color-smx-gray);
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional */
    gap: 20px;
}

.login-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form__form--input {
    border-color: var(--siem-principal-blue);
}

.login-form__form--input:focus {
    border-color: var(--siem-principal-blue);
}

.login-form__form--input-password,
.login-form__form--input-password:focus {
    border-right-color: transparent;
}

.login-form__form--button {
    height: 70px;
    font-size: 17px;
    border-color: var(--siem-principal-blue);
}

.login-form__form--button:hover {
    border-color: var(--siem-secondary-green);
}

.login-form__form--password-button {
    border-color: var(--siem-principal-blue);
    border-left-color: transparent;
}

input:-webkit-autofill {
    /* background-color: white !important; */
    background-color: var(--siem-principal-gray-transparent) !important;

    color: black !important;
    box-shadow: 0 0 0px 1000px var(--siem-principal-gray-transparent) inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* background-color: white !important; */
    background-color: var(--siem-principal-gray-transparent) !important;

    color: black !important;
    box-shadow: 0 0 0px 1000px var(--siem-principal-gray-transparent) inset !important;
}

.floating-label-wrapper > label {
    color: var(--color-smx-gray) !important;
}

.floating-label-wrapper > label::after {
    background-color: transparent !important;
}
