.modal-pdf__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.modal-pdf__pages {
    --scale-factor: 0 !important;
}

.modal-pdf__body {
    height: 700px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.modal-pdf__body::-webkit-scrollbar {
    width: 8px;
}

.modal-pdf__body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.modal-pdf__body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
