/* APP STYLE VARIABLES */
:root {
    /* COLORS */
    --main-bg-color: #f0f1f3;
    --color-secondary: #a9a9a9;
    --color-sxm-blue: #0008e8;
    --color-smx-gray: #7f898d;
    --color-sxm-error: #ff337c;
    --color-sxm-valid: #2084ff;
    --color-sxm-success: #11ff98;

    /* SIEM COLORS */
    --siem-principal-blue: #004060;
    --siem-principal-light-blue: #52a4b2;
    --siem-principal-gray: #dce7f5;
    --siem-principal-gray-transparent: rgba(220, 231, 245, 0.5);
    --siem-secondary-red: #ab073b;
    --siem-secondary-blue: #15417d;
    --siem-secondary-orange: #db6245;
    --siem-secondary-yellow: #cbb83b;
    --siem-secondary-green: #00a99d;
    --siem-action-gray: rgb(247, 246, 247);
}
