@use '../../mixins' as mixins;

.operation-page__container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.operation-page__top {
    // flex: 15%;
}

.operation-page__bottom {
    overflow: auto;
    // flex: 85%;
    border-radius: 25px;
    border-color: rgb(238, 238, 238);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    @include mixins.breakpoint(sm) {
        min-height: 500px;
    }
}
